body {
	background-color: #e2e2e2 !important;
}
.background-for-nav{
    background-color: #009688 !important;
}

.my-card{
    background-color: #FFFFFF;
    padding: 20px;
}

.outerdiv{
    padding: 90px;
}
.form-group.required .form-label:after
{
      content:" *";
      color:red;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: 0px;
}