body {
	background-color: #e2e2e2 !important;
}
.background-for-nav{
    background-color: #009688 !important;
}

.btn-menu{
    padding-left: 0;
}

.my-card{
    background-color: #FFFFFF;
    padding: 20px;
}

.menu-button{
    width: 20px;
    height: 20px;
}

.outerdiv{
    padding: 90px;
}
.form-group.required .form-label:after
{
      content:" *";
      color:red;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 380px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: 0px;
}

.home-icon{
    width: 20px;
    height: 20px;
    margin-right: 30px; /* Adjust this value as needed */
}

.menu-links {
  list-style-type: none;
  padding: 0;
}

.nav-link {
  margin-bottom: 10px;
}

.nav-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link a:hover {
  background-color: #009688;
}

.home-icon,
.text {
  margin-right: 10px;
}

.form-icons{
    width: 25px;
    height: 25px;
}

.profile-pics{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.search-container{
    position:relative;
}

.search-result{
    position:absolute;
    background:white;
    padding:10px;
    border: 1px solid gray;
    width:100%;
    display:none;
}