body {
	background-color: #e2e2e2 !important;
}
.background-for-nav{
    background-color: #009688 !important;
}

.my-card{
    background-color: #FFFFFF;
    padding: 20px;
}

.outerdiv{
    padding: 90px;
}
.form-group.required .form-label:after
{
      content:" *";
      color:red;
}
