<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="userBase::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<section>
  <div class="card mr-3 ml-3">
    <div class="card-body">
      <h1 class="text-center">Contact List</h1>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Serial No</th>
          <th scope="col">Contact Name</th>
          <th scope="col">Email</th>
          <th scope="col">Contact No</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact, iStat : ${contacts}">
          <th scope="row" th:text="${iStat.index + 1}"></th>
          <td><img src="" class="profile-pics" th:src="@{'/img/' + ${contact.image}}" alt="profile-pic"><span th:text="${contact.name}"></span> </td>
          <td><a href="" th:href="@{'/user/contact/' + ${contact.cid}}" style="decoration:none;"><span th:text="${contact.email}"></span></a></td>
          <td th:text="${contact.phone}"></td>
          <td>
            <button class="btn btn-success btn-small">Edit</button>
            <button class="btn btn-danger btn-small">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li th:if="${currentPage!=0}" class="page-item"><a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${currentPage-1}}">Previous</a></li>
          <li th:classappend="${currentPage == pg - 1 ? 'active':''}" th:each="pg : ${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${pg-1}}"><span th:text="${pg}"></span></a></li>
          <li th:if="${currentPage+1!=totalPages}" class="page-item"><a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${currentPage+1}}">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>

</section>
</body>
</html>