<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<section>

    <div class="container outerdiv">

        <div class="row">

            <div class="col-md-8 offset-md-2">

                <div class="my-card">

<!--                    <div th:if="${session.message}" th:classappend="${session.message.contentType}" class = "alert" role="alert">-->
<!--                        <p th:text="${session.message.message}"></p>-->
<!--                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
<!--                    </div>-->

                    <div th:if="${session.message != null}" th:classappend="${session.message.contentType}" class="alert text-center" role="alert">
                        <p th:text="${session.message.message}"></p>
                        <th:block th:remove="all"></th:block>
                    </div>


                    <h1 class="text-center">Sign Up</h1>

                    <form action="/doRegister" th:action="@{/doRegister}" method="post" th:object="${user}">

                        <div class="mb-3 form-group required">
                            <label for="name_field" class="form-label">Name</label>
                            <input name="name" type="text" class="form-control " th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" id="name_field" aria-describedby="emailHelp" placeholder="John" required="required" th:value="${user.name}">
                            <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">

                            </div>
                        </div>

                        <div class="mb-3 form-group required">
                            <label for="exampleInputEmail1" class="form-label">Email Address</label>
                            <input name="email"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@abc.com" required="required" th:value="${user.email}">

                        </div>

                        <div class="mb-3 form-group required">
                            <label for="password-field" class="form-label">Password</label>
                            <input name="password" type="password" class="form-control " th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}" id="password-field" aria-describedby="emailHelp" placeholder="Enter Password" required="required" >
                            <div class="invalid-feedback" th:each="e : ${#fields.errors('password')}" th:text="${e}">

                            </div>
                        </div>

                        <div class="mb-3 form-group required">
                            <label for="confirm-password-field" class="form-label">Confirm Password</label>
                            <input name="confirmPassword" type="password" class="form-control" id="confirm-password-field" aria-describedby="emailHelp" placeholder="Confirm Password" required="required">

                        </div>

                        <div class="container text-center">
                            <button type="submit" class="btn background-for-nav text-white">
                                Submit
                            </button>
                        </div>


                    </form>


                </div>

            </div>

        </div>


    </div>


</section>
</body>
</html>